.container {
  max-width: 500px; 
  margin: 0 auto; 
  text-align: center; 
  overflow: hidden; 
}

.slider {
  width: 100%; 
}



#feedback {
  margin-top: 20px;
  font-weight: bold; 
}


#image1 {
  width: 60%;
  filter: brightness(5%); 
}
  
#image2 {
  width: 60%;
  transform: scale(0.05); 
}

#image3 {
  width: 50%;
  filter: saturate(0%);
}
